/* styles.css */
body{
    display: flex;
    flex-direction: column;
    align-items: safe;
}

.heading{
    display: flex;
    flex: auto;
    padding: 20px;
}

#trail {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
}

.trailSettings{
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

.container{
    display: flex;
    justify-content: center;
    flex: 1;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

button{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin: 0 auto;
    position: relative; /* Add this to make the z-index work */
    z-index: 1; /* Set a positive z-index to place the buttons above the "trail" div */
}

button {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin: 0 auto;
}

/* staged change  */
/* .pixel {
    width: 5px;
    height: 5px;
    position: absolute;
} */


